body {
  background-color: #222226;
}

.app-wrapper {
  margin: 0 auto;
  display: grid;
  max-width: 100%;
  grid-template-areas: 
  "h h"
  "s c";
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(300px, 1fr) 10fr;
  grid-gap: 10px;
}

.content__wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: c;
}